# General C++ exclusion
*.o
*.so

# General Python exclusion
*.pyc

# Swap files
*.swp

# General data file exclusions
*.txt
*.root
*.log
log*
.vscode/**
**/CMakeFiles/**
Makefile
**/*.cmake

# Specific file exclusion
# [relative/path/to/file]
Temp/**

# Specific file inclusion
# ![relative/path/to/file]
!CMakeLists.txt



